body {
    background: #03045E;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Segoe UI', system-ui, -apple-system, sans-serif;
}

.game-container {
    width: 70vmin;
    height: 70vmin;
    text-align: center;
    background: rgba(0, 180, 216, 0.4);
    padding: 20px;
    border-radius: 15px;
}

.game-board {
    width: fit-content;
    max-width: 60vmin;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 15vmin);
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: #CAF0F8;
    height: 15vmin;
    width: 15vmin;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 48px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #03045E;
}
.score-board {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    padding: 15px 20px;
    background: rgba(144, 224, 239, 0.8);
    border-radius: 12px;
}

.player-x-score, .player-o-score {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 20px;
    color: #03045E;
}

#score-x, #score-o {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10px;
    padding: 0 5px;
    color: #003d83;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 45px;
    width: auto;
}
#play-btn, #reset-btn {
    background: linear-gradient(135deg, #00B4D8, #0077B6);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 8px 25px;
    width: 150px;
}

#play-btn:hover,  #reset-btn:hover {
    transform: scale(1.05);
}

.win-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #03045E;
    border-radius: 15px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    display: none;
    white-space: nowrap;
}